@use "bootstrap-icons/font/bootstrap-icons";
@use "bootstrap/dist/css/bootstrap";
// @use "cropperjs/dist/cropper";

$bar-color: grey;
$preview-height: 306px;

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-size: 16px;
}

body {
    // display: inline-block;
    // min-width: 100%;
    /* background-color: #fffef2; */
    overflow: scroll;
    padding-top: 60px;
}

nav {
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    // display: flex;
    // align-items: center;
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // z-index: 1000;
    // background-color: white;
}

nav.navbar {
    padding: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
}

.brand {
    background-color: #f4f4f4;
}

.brand a {
    display: inline-flex;
    align-items: center;
    padding: 0px 16px;
}

.brand-logo {
    padding: 5px;
    background-color: #fff200;
    border-radius: 8px;
}

.brand-name {
    padding: 15px 10px;
    display: inline-block;
    font-size: 1.5rem;
    color: orangered;
    line-height: 1;
}

#main-wrap {
    padding: 16px;
    min-width: 100vw;
    display: inline-block;
}

#main {
    text-align: center;
}

.step {
    margin: 0 auto;
    padding: 0 4px;
    /* border: 1px solid blue; */
    display: inline-block;
}

#main > .step > .step-content > .visual > .step-toolbar .step-toolbar-button.remove-self {
    display: none;
}

.step-content {
    width: 200px;
    margin: 0 auto;
}

.next-steps {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 8px;
    padding: 0;
    margin-left: -4px;
    margin-right: -4px;
}

.explanation:focus {
    border: 1px solid green;
}

.visual {
    border: 1px solid #aaa;
    border-radius: 4px;

    margin: 12px auto 0 auto;

    display: flex;
    flex-direction: column;
}

.visual.active {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.preview {
    height: $preview-height;
    border-bottom: 1px solid #aaa;
    display: block;
    overflow: hidden;
}

.preview > img {
    width: 100%;
    border: none;
}

.preview.hide {
    display: none;
}

.step-toolbar {
    flex: 0 0 36px;
    height: 36px;
    padding: 4px;
    display: flex;
    align-items: center;
}

.step-toolbar-button {
    line-height: 1;
    background: #eee;
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 8px;
}
.step-toolbar-button:last-child {
    margin-right: 0;
}

.explanation {
    width: 200px;
    min-height: 50px;
    border: 1px solid #aaa;
    border-radius: 4px;

    padding: 8px 8px 24px 8px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.8rem;
    line-height: 1.5;
    color: #222;

    position: relative;
}

.explanation::after {
    position: absolute;
    content: attr(data-before);
    bottom: -8px;
    right: 4px;
    min-width: 44px;
    min-height: 24px;
    background-color: pink;
    border-radius: 3px 3px 3px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.horizontal-bar {
    height: 0px;
    background-color: $bar-color;
    margin: 0;
    position: relative;
}

.horizontal-bar.show {
    height: 4px;
    // border-top-right-radius: 2px;
    // border-top-left-radius: 2px;
}

.vertical-bar {
    height: 0px;
    width: 0px;
    margin: 0 auto;
    background-color: $bar-color;
}

.vertical-bar.show {
    height: 12px;
    width: 4px;
}

.vertical-bar.to-next.show {
    height: 18px;
}

.step-toolbar-button.remove-self {
    margin-left: auto;
    color: grey;
}

.next-steps.show {
    display: flex;
}

.next-steps.hide {
    display: none;
}

.step-toolbar-button.show-next-steps,
.step-toolbar-button.hide-next-steps {
    pointer-events: none;
    color: #999;
    display: none;
}

.step-toolbar-button.show-next-steps.active,
.step-toolbar-button.hide-next-steps.active {
    pointer-events: initial;
    color: initial;
    display: initial;
}

.step.highlight > .step-content > .explanation,
.step.highlight > .step-content > .visual {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.nav-toolbar {
    display: flex;
    align-items: center;
}

#main.no-preview .preview {
    display: none;
}

.nav-toolbar a {
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 12px;
    border-radius: 4px;
    margin: 0 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-collapse a {
    text-transform: uppercase;
}

.nav-toolbar a:focus,
.nav-toolbar a:hover,
.nav-toolbar a:visited,
.nav-toolbar a:active {
    color: blue;
}

#main.no-step-toolbar .step-toolbar {
    display: none;
}

#main.no-step-toolbar.no-preview .visual {
    display: none;
}

footer {
    min-height: 100px;
    background: #eaeaea;
    padding-bottom: 24px;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    padding: 15px 25px;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#change-preview-modal .modal-footer {
    justify-content: space-evenly;
}

#preview-image-preview-wrap {
    width: 200px;
    height: $preview-height;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#preview-image-preview {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

#button-preview-browse {
    position: relative;
    display: inline-block;
}

#input-preview-browse {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
}

#precheck-preview-browse {
    visibility: hidden;
}

#precheck-preview-browse.ok,
#precheck-preview-browse.notok {
    visibility: visible;
}

#precheck-preview-browse.ok {
    color: green;
}

#precheck-preview-browse.ok > .icon-ok {
    display: initial;
}

#precheck-preview-browse.ok > .icon-notok {
    display: none;
}

#precheck-preview-browse.notok > .icon-ok {
    display: none;
}

#precheck-preview-browse.notok > .icon-notok {
    display: initial;
}

#precheck-preview-browse.notok {
    color: red;
}
